<!--  the footer HTML  -->
<ul class="socials">
  <li><a href="https://twitter.com/jensimmons?s=20" target="blank"><i class="fab fa-twitter"></i></a></li>
  <li><a href="https://www.instagram.com/kiyothelab/" target="blank"><i class="fab fa-instagram"></i></a></li>
  <li><a href="https://jensimmons.com/" target="blank"><i class="fab fa-snapchat-ghost"></i></a></li>
</ul>
<p>  &copy; Hot Hounds 2021.</p>
<p><em>This work is licensed under a <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0 license.</a></em></p>