<!--  the footer HTML  -->
<footer>
  <ul class="socials">
    <li><a href="https://twitter.com/jensimmons?s=20" target="blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/kiyothelab/" target="blank"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://jensimmons.com/" target="blank"><i class="fab fa-snapchat-ghost"></i></a></li>
  </ul>
  &#169; Hot Hounds Photography 2021
</footer>