<!--  the nav HTML  -->

<div class="container">
  <nav class="navbar">
    <img class="logo" src="/images/svg/hot-hounds-logo.svg" alt="Hot Hounds Logo" width="100px">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/gallery-list">Gallery</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/subscribe">Register</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </nav>
   </div>