<!--  the nav HTML  -->

<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/subscribe">Subscribe</a></li>
  <li><a href="/gallery">Gallery</a></li>
  <li><a href="/team">Team Members</a></li>
  <li><a href="/admin">Administration</a></li>
</ul>