h1 {
  text-align: center;
}
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  
}

.gallery img {
  padding: 0.5rem;
  margin: 1rem;
}

.gallery .gallery-list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}