h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: purple;
}

a:hover {
  transform: scale(1.1);
}
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  

  text-align: center;
}

.gallery img {
  padding: 0.5rem;
  margin: 1rem;

  max-width: 400px;
  max-height: 500px;
}

.gallery .gallery-list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-itempic {
  display: block;
  margin: auto;
}