h1, p {
  text-align: center;
}

.description {
  color: rebeccapurple;
}

a {
  text-decoration: none;
  color: purple;
}

a:hover {
  transform: scale(1.1);
}
.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;  

  text-align: center;
}

.gallery img {
  padding: 0.5rem;
  margin: 1rem;

  max-width: 400px;
  max-height: 500px;
}

.gallery .gallery-list-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Single-Item Page */

.single-itempic {
  display: block;
  margin: auto;

  max-width: 400px;

  padding: 1rem;
}

.gallery-home {
  display: block;
  margin: auto;
}

@media screen and (max-width:800px) {
  .gallery img {
    max-width: 300px;
  }
}