<!--  The admin page template                                                                                       -->
<!--  Contains <script> that uses a fetch(), a JSON endpoint and a forEach to display the subscribers list          -->
 
  <!DOCTYPE html>
  <html lang="en">
  
  <head>
    
    <title>Administration Page</title>
  
    <script src="js/admin_client.js" defer></script> 

  </head>
  
  <body>
    <header>Subscriber List</header>
  
    <nav></nav>
  
    <main></main>
  
    <footer></footer>
  </body>
  
  </html>