<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <link href="https://fonts.googleapis.com/css2?family=Fanwood+Text&family=Oswald&family=Shrikhand&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/gallery.css">
<<<<<<< HEAD

  <script src="js/gallery_client.js"></script>
  
=======
  <script src="/js/gallery_client.js" defer></script>
>>>>>>> 3152773efdb5ed58b9595c56f0b442f6d805a54b
</head>

<body>
  <h1>Gallery</h1>
  <div class="gallery">
    <!--Display Gallery Images Here-->
  </div>
</body>
</html>