<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>
  <h1>Gallery</h1>
  <div class="gallery">
    <!--Display Gallery Images Here-->
  </div>
  <%- include('../partials/footer') %>
</body>
</html>