<!--  The gallery page template                                                                                       -->
<!--  Contains <script> that uses a fetch(), a JSON endpoint and a forEach to display 9-12 products/services          -->

  <!DOCTYPE html>
  <html lang="en">
  
  <head>
    
    <title>Image Gallery</title>
  
    <script src="js/gallery_client.js" defer></script> 

  </head>
  
  <body>
    <header>Gallery Page</header>
  
    <nav></nav>
  
    <main></main>
  
    <footer></footer>
  </body>
  
  </html>