<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<body>

  <%- include('../partials/nav') %>

       <!--Landing Page-->
      <img id="hero-image" src="/images/svg/hothounds-hero.svg">
      <button class="coa"><a href="/gallery-list">Click Me!</a></button>
    </header>
    
    <main>
      <!--Team-->
      <h2>About the Team</h2>
      <div class="about">
        <p class="abt-desc">We are a group of enthusiastic dog owners who love taking pictures of their own puppers!<br>Not only that, we have an expensive camera to carry around to make sure we capture everything in Full Definition.</p>
        <button class="team-button"><a href="/team">Click to see the whole gang!</a></button>
          </div>

        <!--Gallery-->
        <h2>Gallery</h2>
          <div class="gallery">
            <!--Display Static Image Here-->
            </div>
        <div class="gallery-bg"><button class="gallery-button"><a href="/gallery-list">Check out the whole gallery here!</a></button></div>
    
        <!--Subscribe--><h2 class="sub"> Click Below to Subscribe to Our Newsletter
          </h2>
        <div class="subscribe">
          
          <button class="subscribe-button"><a href="/subscribe">Click Me!</a></button>
        </div>
    </main>
  
    <%- include('../partials/footer') %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script>
      gsap.to("#hero-image", {duration: 2, x: 30, y: -50, ease: "bounce"});
     </script>
</body>
</html>