<!-- The homepage template -->

<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Home Page</title>

</head>

<body>
  <header>Home Page</header>

  <nav></nav>

  <main></main>

  <footer></footer>
</body>

</html>