<!--  The single item page  -->

<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Single Item Page</title>

</head>

<body>
  <header>Single Item Page</header>

  <nav></nav>

  <main></main>

  <footer></footer>
</body>

</html>