<!--  The single item page  -->

<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Single Item Page</title>

</head>

<body>
  
  <h1><%= dog[0].name %></h1>
  <img src="<%= dog[0].img_path %>" alt="<%= dog[0].description %>">

</body>

</html>