<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/subscribe.css">

<body>
  <%- include('../partials/nav') %>
  <div class="subscriber"></div>
    <!--Insert Subscriber Data Here-->
    
    <h1> Signup To Our Page</h1>
    <p>No spam, unsubscribe at any time.</p>
    
      <form action="/api/v0/subscriber" method="post">
        <div class="info">
          <input type="text" placeholder="First name" name="firstname" required>
          <input type="text" placeholder="Last name" name="lastname" required>
          <input type="email" placeholder="Your Email" name="email" required>
        </div>
        <input type="submit">
      </form>
      <%- include('../partials/footer') %>
</body>
</html>