<!--  The subscription page  template                           -->                                    
<!--  Displays a form to be filled out for site subscribers     -->                        
<!--  Form to include:                                          -->
<!--    -name                                                   -->
<!--    -email                                                  -->

<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Subscription Page</title>

</head>

<body>
  <header>Subscription Form Page</header>

  <nav></nav>

  <main></main>

  <footer></footer>
</body>

</html>