<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <script src="/js/team_client.js" defer></script>
</head>
<link rel="stylesheet" href="/css/teams.css">
<body>
  <%- include('../partials/nav') %>
  <h1>team</h1>
  <div class="team-container">
    <div class="team">
  </div>
  </div>
    
   <%- include('../partials/footer') %>
  
</body>
</html>