<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Team Page</title>

  <script src="/js/team_client.js" defer></script> 
  <link rel="stylesheet" href="/teams.css">
  
</head>
<body>
  <h1>team</h1>
  <div class="team">
    
  </div>

</body>
</html>