<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <script src="/js/team_client.js" defer></script>
</head>

<body>
  <%- include('../partials/nav') %>
  <h1>team</h1>
  <figure></figure>

   <%- include('../partials/footer') %>
</body>
</html>