<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/nav') %>
  <h1>team</h1>
  <figure></figure>

   <%- include('../partials/footer') %>
</body>
</html>