<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test Team Page</title>

  <script src="/js/team_client.js" defer></script> 
  <link rel="stylesheet" href="/teams.css">
  
</head>
=======
  <%- include('../partials/head') %>
>>>>>>> 2a309f5ad8c465eff47f0b9029aed7bf45f57ddf
<body>
  <%- include('../partials/nav') %>
  <h1>team</h1>
  <div class="team">
    
  </div>

   <%- include('../partials/footer') %>
</body>
</html>